@{
  ViewData["Title"] = "Informes Registros Medicos";
}

<br>
<table class="table table-hover table-bordered table-condensed shadow tabla " style="background-color: white;">
  <thead class="table-dark">
    <tr>
      <th>Veterinario</th>
      <th>Caravana</th>
      <th>Enfermedad</th>
      <th>tratamiento</th>
      <th>Fecha</th>
      <th>Observación</th>
    </tr>
  </thead>
  <tbody id="tbody-informesRegistroMedico">
  </tbody>
</table>

@section Scripts {
  <script src="~/js/informeRegistroMedico-1.0.0.js"></script>
}