html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
background-attachment: fixed;
background-size: cover;

}

.nav-item-custom {
  transition: background-color 1s, box-shadow 1s;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link i {
  margin-right: 8px; 
}

.nav-custom {
  list-style: none;
  padding-left: 0;
}

.nav-custom .nav-item {
  margin-bottom: 10px;
}

.nav-custom .nav-link {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border: none;
  border-radius: 0.675rem;
  transition: all 0.2s ease-in-out;
  color: #fff; /* Color de texto por defecto para los enlaces */
  margin-bottom: 12px; /* Aumenta el margen inferior */
}


/* Estilo para íconos dentro de nav-link */
.nav-custom .nav-link i {
  margin-right: 10px; 
}


.content-table {
  border-collapse: collapse;
  margin: 10px 0; /* Reducido */
  font-size: 0.7em; /* Tamaño de letra reducido */
  min-width: 100%; /* Reduce el ancho mínimo */
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

.content-table thead tr {
  background-color: #153a61;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 5px 8px; /* Padding reducido */
  text-align: center; /* Centra el texto */
}

.content-table th:last-child,
.content-table td:last-child {
  border-right: none; 
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  color: #153a61;
}

.content-table tbody tr:hover {
  background-color: #153a617a;
  color: #ffffff;
}


.edit-button {
  background-color: #4CAF50; 
  border: none;
  color: white; 
  padding: 3px 10px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.info-button {
  background-color: #4c87af; 
  border: none;
  color: white; 
  padding: 3px 10px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: none;
}
.infoEvento-button{
  background-color: #4c87af; 
  border: none;
  color: white; 
  padding: 3px 10px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: none;
}

.btn-outline-primary {
  display: none;
}
/* Ocultar columnas a partir de 1024px */
@media (max-width: 1600px) {
  .ocultar-en-1024px {
      display: none;
  }
  .infoEvento-button {
    display: inline-block;
}

}


/* Ocultar columnas en pantallas más pequeñas, por ejemplo, a partir de 768px */
@media (max-width: 768px) {
  .ocultar-en-768px {
      display: none;
  }
}


.delete-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
@media (max-width: 768px) {
  .info-button {
      display: inline-block;
      font-size: 12px; /* Reduce el tamaño de la fuente */
      padding: 2px 8px; /* Reduce el padding */
  }
  .infoEvento-button{
    font-size: 12px; /* Reduce el tamaño de la fuente */
    padding: 2px 8px; /* Reduce el padding */
}
  .btn-outline-primary{
    display: inline-block;
}
  .edit-button {
    font-size: 12px; /* Reduce el tamaño de la fuente */
    padding: 2px 8px; /* Reduce el padding */
}
  .delete-button {
    font-size: 12px; /* Reduce el tamaño de la fuente */
    padding: 2px 8px; /* Reduce el padding */
}

.nav-custom .nav-link i {
  margin-right: 0px; 
}

}
@media (max-width: 768px) {
  .ocultar-en-768px {
      display: none;
  }
}

.edit-button:hover {
  background-color: #45a049;
}

.edit-button:active {
  background-color: #388e3c; 
}


.delete-button:hover {
  background-color: #d32f2f;
}

.delete-button:active {
  background-color: #c62828;
}
.modal-header {
  background-color: #153a61;
  color: white;
}
.modal-footer {
  background-color: #f1f1f1;
}
.modal-title {
  font-weight: bold;
}
.form-label {
  font-weight: bold;
}
.form-control {
  border-radius: 0.25rem;
}
.btn-success {
  background-color: #28a745;
}
.btn-danger {
  background-color: #f00101;
}
.mb-3 label {
  font-size: 0.9rem;
}
.modal-content {
  border-radius: 0.5rem;
}
.btn-descargar {
background-color: #009879;
}

html, body {
    height: 100%;
    margin: 0;
}
/* Estilos para el wrapper */
#wrapper {
  display: flex;
  height: 100vh; /* Altura completa de la ventana */
  overflow: hidden; /* Evita el desbordamiento en el contenedor principal */
}

/* Estilos para el sidebar */
#sidebar {
  width: 250px;
  height: 100%;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(0); /* Mostrar por defecto */
  transition: transform 0.3s ease-in-out; /* Agrega la transición suave */
  z-index: 1000; /* Asegura que el sidebar esté encima del contenido */
  overflow: hidden; /* Evita el desbordamiento del contenido */
}

#sidebar.closed {
  transform: translateX(-100%); /* Ocultar cuando está cerrado */
}

#sidebar .nav-custom {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar .nav-item {
  margin: 0;
}

#sidebar .nav-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

#sidebar .nav-link:hover, 
#sidebar .nav-link:focus, 
#sidebar .nav-link:active {
  background-color: #e9ecef42;
  color: white;
}

/* Estilos para el botón de abrir/cerrar */
#sidebar .toggle-btn {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

#sidebar .toggle-btn:hover {
  background-color: #555;
}

/* Estilos para el contenedor del contenido principal */
#page-content-wrapper {
  margin-left: 250px; /* Deja espacio para el sidebar */
  flex: 1; /* Se estira para llenar el espacio restante */
  overflow: auto; /* Permite el desplazamiento si el contenido es más grande que el contenedor */
  transition: margin-left 0.3s ease-in-out, opacity 0.5s ease-in-out; /* Ajusta el margen y la opacidad con transición */
  height: 100vh; /* Altura completa de la ventana */
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

#sidebar.closed + #page-content-wrapper {
  margin-left: 0; /* Ajusta el margen cuando el sidebar está cerrado */
}

/* Estilos para el contenido principal */
.container-fluid.d-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1; /* Se estira para llenar el espacio restante */
}


/* Estilo para el botón transparente de abrir/cerrar */
#toggle-btn {
  background-color: transparent; /* Botón transparente */
  border: none; /* Sin bordes */
  padding: 0; /* Sin padding para que la imagen ocupe todo el espacio */
  cursor: pointer; /* Manito al pasar el ratón */
  display: flex; /* Para centrar la imagen */
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  position: relative; /* Cambia a relative para que no se desplace fuera del contenedor */
  bottom: 0; /* Alinea con el fondo del contenedor */
  left: 0; /* Máximo a la izquierda */
}

/* Tamaño del icono */
#toggle-btn img {
  width: 32px; /* Tamaño del icono */
  height: 32px;
}

/* Efecto al pasar el ratón */
#toggle-btn:hover img {
  opacity: 0.8; /* Suaviza el icono al pasar el ratón */
}

/* Ajustes adicionales */
#toggle-btn:focus {
  outline: none; /* Elimina el borde azul predeterminado al hacer clic */
}



/* Estilo para el contador de elementos */
#table-info {
  font-size: 14px; /* Tamaño de fuente más pequeño */
  color: #6c757d; /* Color de texto gris */
}
#table-info-tipoAnimales {
  font-size: 14px; /* Tamaño de fuente más pequeño */
  color: #6c757d; /* Color de texto gris */
}

/* Estilo para pantallas pequeñas */
@media (max-width: 767px) {
  #sidebar {
      width: 70px; /* Ancho reducido del sidebar en pantallas móviles */
      /* Puedes ajustar este valor según tus necesidades */
      overflow: hidden; /* Asegúrate de que el contenido adicional no se desborde */
  }
  
  #sidebar .nav-link {
      display: flex;
      justify-content: center; /* Centra los íconos */
      padding: 10px; /* Espaciado alrededor del ícono */
  }

  #sidebar .nav-item span {
      display: none; /* Oculta el texto en pantallas móviles */
  }

  #sidebar .nav-link i {
      font-size: 20px; /* Tamaño de los íconos */
  }

}

/* Estilo para pantallas pequeñas */
@media (max-width: 767px) {
  #page-content-wrapper {
      margin-left: 70px; /* Ajusta el margen para pantallas móviles */
      /* Ajusta este valor según el ancho del sidebar en pantallas móviles */
  }

  #sidebar {
      width: 70px; /* Asegúrate de que el sidebar tenga el ancho adecuado en pantallas móviles */
      /* Ajusta el ancho del sidebar según sea necesario */
  }
}

.info-box {
  background-color: #ffffff; /* Fondo blanco */
  border: 1px solid #ddd; /* Borde sutil */
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin: 20px auto; /* Margen automático para centrar */
  max-width: 800px; /* Ancho máximo para no estirar demasiado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  font-family: Arial, sans-serif; /* Tipografía legible */
}

.texto {
  color: #555; /* Color del texto */
  line-height: 1.6; /* Espaciado entre líneas */
  font-size: 16px; /* Tamaño de fuente */
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 15px; /* Reduce el espacio entre tarjetas */
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
  transition: transform 0.3s ease-in-out; /* Transición suave para el efecto de escala */
}

.card.special-card {
  transition: transform 0.3s ease-in-out; /* Transición suave para el efecto de escala */
}

.card.special-card:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
}

.card-small {
  padding: 10px; /* Reduce el padding interno de la tarjeta */
  font-size: 0.875rem; /* Reduce el tamaño de la fuente */
}

.custom-card-bg-cherry {
  background: linear-gradient(to right, #2c3e50, #909497) !important;
  color: #fff;
}

.custom-card-bg-blue {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}

.custom-card-bg-green {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
}

.custom-card-bg-orange {
  background: linear-gradient(to right, #a04000, #e59866) !important;
  color: #fff;
}

.card .card-statistic .card-icon {
  text-align: center;
  line-height: 40px; /* Ajusta la línea de altura del ícono */
  margin-left: 10px;
  position: absolute;
  right: 10px; /* Ajusta la posición del ícono */
  top: 10px; /* Ajusta la posición del ícono */
  opacity: 0.1;
}

.card .icon-image {
  width: 60px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  margin: 0 auto;
}

    /* Clase personalizada para el botón flotante */
    .custom-btn-size {
      font-size: 1.5rem; /* Tamaño de texto más grande */
      width: 70px; /* Ancho del botón */
      height: 70px; /* Altura del botón */
      border-radius: 50%; /* Bordes redondeados */
      display: flex; /* Flexbox para centrar el ícono */
      align-items: center; /* Alinea verticalmente el ícono */
      justify-content: center; /* Alinea horizontalmente el ícono */
      background-color: #343a40; /* Color de fondo oscuro */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición suave */
  }

  .custom-btn-size:hover {
      transform: scale(1.1); /* Aumenta el tamaño del botón en un 10% al pasar el mouse */
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más prominente al pasar el mouse */
  }

  .custom-btn-size:focus, .custom-btn-size:active {
      outline: none; /* Elimina el contorno predeterminado en el foco */
  }

  .icon-size {
    font-size: 1rem; /* Asegura que ambos iconos tengan el mismo tamaño */
    width: 16px;     /* Anchura uniforme para los iconos */
    height: 16px;    /* Altura uniforme para los iconos */
    display: flex;
    align-items: center;
    justify-content: center;
}

.required-asterisk {
  color: red; 
  font-size: 1.5em;  
  font-weight: bold;
}

.dropdown-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dropdown-container label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.dropdown-container select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.dropdown-container select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
  outline: none;
}

.dropdown-container option {
  padding: 10px;
}

.submenu-right {
  margin-left: 15px;
  background-color: #f0f0f080; /* Cambia este color según tu preferencia */
  border-radius: 5px;
}
@media (max-width: 768px) {
  .submenu-right {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
  }
}
.button-group {
  display: flex; /* Utiliza Flexbox para alinear los elementos en línea */
  justify-content: center; /* Centra los botones horizontalmente */
}

.button-group button {
  margin: 0 5px; /* Espaciado horizontal entre botones */
}

/* Estilo para el botón de descarga */
.btn-download {
  background-color: #009879; /* Color de fondo verde-azulado */
  border: none; /* Sin borde */
  color: white; /* Color del texto blanco */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño de fuente del texto */
  border-radius: 5px; /* Bordes redondeados */
  display: flex; /* Usa flexbox para centrar el ícono */
  align-items: center; /* Centra verticalmente el ícono */
  justify-content: center; /* Centra horizontalmente el ícono */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.btn-download i {
  margin-right: 8px; /* Espaciado entre el ícono y el texto */
  font-size: 18px; /* Tamaño del ícono */
}

/* Oculta el texto en pantallas pequeñas y ajusta el tamaño del botón */
.btn-download .btn-text {
  display: inline; /* Muestra el texto en pantallas grandes */
}

@media (max-width: 767px) {
  .btn-download .btn-text {
    display: none; /* Oculta el texto en pantallas pequeñas */
  }
  
  .btn-download {
    padding: 8px 15px; /* Reduce el padding en pantallas pequeñas */
    font-size: 14px; /* Reduce el tamaño de la fuente */
  }
  
  .btn-download i {
    font-size: 16px; /* Reduce el tamaño del ícono en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho del ícono en pantallas pequeñas */
  }
}

.btn-download:hover {
  background-color: #007a63; /* Color de fondo al pasar el ratón */
  transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}

.btn-download:focus {
  outline: none; /* Elimina el contorno azul predeterminado */
}

.btn-download:active {
  background-color: #00675b; /* Color de fondo al hacer clic */

}
.btn-agregar {
  background-color: #95a5a6; /* Color de fondo verde-azulado */
  border: none; /* Sin borde */
  color: white; /* Color del texto blanco */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño de fuente del texto */
  border-radius: 5px; /* Bordes redondeados */
  display: flex; /* Usa flexbox para centrar el ícono */
  align-items: center; /* Centra verticalmente el ícono */
  justify-content: center; /* Centra horizontalmente el ícono */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.btn-agregar i {
  margin-right: 8px; /* Espaciado entre el ícono y el texto */
  font-size: 18px; /* Tamaño del ícono */
}

/* Oculta el texto en pantallas pequeñas */
.btn-agregar .btn-text {
  display: inline; /* Muestra el texto en pantallas grandes */
}

@media (max-width: 767px) {
  .btn-agregar .btn-text {
    display: none; /* Oculta el texto en pantallas pequeñas */
  }
  
  .btn-agregar {
    padding: 8px 15px; /* Reduce el padding en pantallas pequeñas */
    font-size: 14px; /* Reduce el tamaño de la fuente */
  }
  
  .btn-agregar i {
    font-size: 16px; /* Reduce el tamaño del ícono en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho del ícono en pantallas pequeñas */
  }
}

.btn-agregar:hover {
  background-color: #95a5a6; /* Color de fondo al pasar el ratón */
  transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}

.btn-agregar:focus {
  outline: none; /* Elimina el contorno azul predeterminado */
}

.btn-agregar:active {
  background-color: #758081; /* Color de fondo al hacer clic */
}

#total-items,
#total-items-eventos,
#total-items-registrosMedicos,
#total-items-provincia,
#total-items-localidades,
#total-items-personas {
  font-size: 20px; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  color: #6c757d; /* Color gris claro */
}

/* Estilos específicos para móviles */
@media (max-width: 576px) {
  #total-items,
  #total-items-eventos,
  #total-items-registrosMedicos,
  #total-items-provincia,
  #total-items-localidades,
  #total-items-personas {
      font-size: 12px; /* Ajusta el tamaño del texto en móviles (más pequeño) */
  }
}

.pagination-container {
  display: flex;
  justify-content: flex-end; /* Alinear a la derecha */
  margin-top: 10px; /* Espaciado superior */
}

.page-button {
  background-color: #f8f9fa; /* Color de fondo claro */
  color: #343a40; /* Color del texto gris oscuro */
  border: 1px solid #ced4da; /* Borde gris claro */
  padding: 4px 10px; /* Espaciado interno */
  margin: 0 4px; /* Espaciado entre botones */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.2s; /* Transición suave */
}

.page-button:hover {
  background-color: #e9ecef; /* Color de fondo al pasar el mouse */
}

.page-button.active {
  background-color: #153a61; /* Color de fondo para la página activa */
  color: white; /* Color del texto para la página activa */
  border: 1px solid #153a61; /* Borde del mismo color que el fondo */
}


.page-button:focus {
  outline: none; /* Eliminar el contorno por defecto al enfocar */
}

.page-button:disabled {
  background-color: #ffffff; /* Color para botones deshabilitados */
  color: #6c757d; /* Texto gris para deshabilitados */
  cursor: not-allowed; /* Cursor no permitido */
  border: 1px solid #dee2e6; /* Borde gris claro */
}

#AnimalResultados {
  position: absolute;    /* Posición absoluta respecto al contenedor padre */
  top: 100%;             /* Alinea el ul justo debajo del campo de búsqueda */
  left: 0;               /* Alinea a la izquierda */
  width: 100%;           /* Asegura que el ul tenga el mismo ancho que el input */
  max-height: 167px;     /* Altura máxima de 200px, es decir, se mostrará hasta aquí antes de hacer scroll */
  overflow-y: auto;      /* Scroll si el contenido excede la altura */
  background-color: white; /* Fondo blanco para que resalte */
  z-index: 1000;         /* Asegura que esté sobre otros elementos */
  list-style-type: none; /* Elimina los marcadores de lista */
  border: 1px solid #ccc; /* Añadir un borde temporalmente para verificar la caja */
  border-top: none;
}


.card-persona {
  background-color: #f8f9fa; /* Color de fondo general */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
  width: 300px; /* Ancho de la card */
  text-align: center;
  margin: 10px; /* Margen externo */
  border: none; /* Sin borde */
  transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  padding: 0px;
  
}

.card-persona:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Aumentar sombra al pasar el mouse */
}

.profile-image {
  background: linear-gradient(135deg, #4dc9e6, #210cae);
  padding: 20px; /* Espacio interno alrededor de la imagen */
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
}

.profile-image img {
  border-radius: 50%;
  width: 60%; /* Tamaño de la imagen */
  height: auto; /* Mantener proporciones */
  display: block; /* Centrar imagen */
  margin: 0 auto; /* Centrar imagen */
}

.profile-info {
  padding: 15px; /* Espacio interno para la información */
  background-color: #ffffff; /* Fondo blanco para la información */
  border-radius: 0 0 10px 10px; /* Bordes redondeados en la parte inferior */
}

h2 {
  color: #343a40; /* Color de texto más oscuro */
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  margin: 10px 0; /* Espaciado alrededor del título */
  font-weight: 600; /* Negrita para el título */
}

p {
  margin: 5px 0;
  color: #1f2225; /* Color gris más oscuro */
  font-size: 0.9rem; /* Tamaño de fuente ligeramente más grande */
}




