@{
  ViewData["Title"] = "Home Page";
}
<style>
  html,
  body {
    height: 100%;
  }
</style>
<div class="text-center">
    <h1 class="servicios-title">Servicios</h1>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="img/mini.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Animales</h5>
        <p class="card-text">Permite ingresar animales con todos su datos, y verlos en un listado.</p>
        <a href="@Url.Action("Index", "Animales")" class="btn btn-danger" aria-current="page">
          <i class="fa-solid fa-cow"></i>
          Animales
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="img/mini2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Evento</h5>
        <p class="card-text">Permite seleccionar un animal para desarrollar un evento reproductivo en cualquier momento.
        </p>
        <a href="@Url.Action("Index", "Animales")" class="btn btn-danger" aria-current="page">
          <i class="fa-solid fa-calendar-days"></i>
          Eventos
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="img/mini3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Registro Medico</h5>
        <p class="card-text">Permite ingresar y monitorear registros medico ingresando el profesional que lo realiza y
          animal.</p>
        <a href="@Url.Action("Index", "Animales")" class="btn btn-danger" aria-current="page">
          <i class="fa-solid fa-notes-medical"></i>
          Registro Medico
        </a>
      </div>
    </div>
  </div>
</div>
