@{
    ViewData["Title"] = "ReproGanControl";
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Inicio.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <section class="light">
        <div class="container py-2">
            <div class="text-center" id="pageHeader">
                <div class="h1 text-dark" id="pageHeaderTitle">ReproGanControl</div>
                <div class="h4 text-muted" id="pageSubtitle">Control y Monitoreo de Recursos Ganaderos</div> <!-- Subtítulo -->
            </div>


            <article class="postcard light blue">
                <a class="postcard__img_link">
                    <img class="postcard__img" src="img/mini.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue"><a href="~/Animales/Index">Animales</a></h1>
                    <div class="postcard__subtitle small">
                        <p class="textop">Permite cargar animales con todos los datos necesarios y verlos en un listado.
                        </p>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">El sistema permite gestionar el registro de animales, con
                        opciones para cargar, editar y eliminar registros. Incluye filtros de búsqueda para localizar
                        animales específicos, la posibilidad de imprimir un listado completo y cuenta con informes
                        disponibles para un análisis detallado.</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item"><a href="~/Animales/Index">Lista de Animales</a></li>
                        <li class="tag__item"><a href="~/Animales/InformeAnimales">Informes</a></li>
                    </ul>
                </div>
            </article>
            <article class="postcard light red">
                <a class="postcard__img_link">
                    <img class="postcard__img" src="img/mini2.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red"><a href="~/Eventos/Index">Eventos</a></h1>
                    <div class="postcard__subtitle small">
                        <p class="textop">Permite seleccionar un animal para realizar algún evento reproductivo
                            específico.</p>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">El sistema permite seleccionar un animal y asignarle un tipo de
                        evento con todos sus datos. Ofrece opciones para cargar, editar y eliminar eventos, aplicar
                        filtros de búsqueda para localizar eventos específicos, imprimir un listado completo e incluye
                        informes para un análisis detallado.</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item"><a href="~/Eventos/Index">Lista de Eventos</a></li>
                        <li class="tag__item"><a href="~/Eventos/InformesEventos">Informes</a></li>
                    </ul>
                </div>
            </article>
            <article class="postcard light green">
                <a class="postcard__img_link">
                    <img class="postcard__img" src="img/mini3.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title green"><a href="~/RegistroMedicos/Index">Registros Médicos</a></h1>
                    <div class="postcard__subtitle small">
                        <p class="textop">Permite ingresar, monitorear los registros médicos y el profesional que los
                            realizó.</p>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">El sistema permite gestionar registros médicos de animales,
                        incluyendo la opción de cargar, editar y eliminar cada registro con todos sus datos y el
                        profesional responsable. También ofrece la posibilidad de imprimir un listado completo e incluye
                        informes detallados para el análisis de los registros.</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item"><a href="~/RegistroMedicos/Index">Lista de Registros Medicos</a></li>
                        <li class="tag__item"><a href="~/RegistroMedicos/InformeRegistroMedico">Informes</a></li>
                    </ul>
                </div>
            </article>
            <article class="postcard light yellow">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="img/Tambo1.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title yellow"><a href="~/Establecimientos/Index">Establecimientos</a></h1>
                    <div class="postcard__subtitle small">
                        <p class="textop">Permite ingresar establecimientos.
                        </p>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">El sistema permite gestionar establecimientos, ofreciendo
                        opciones para cargar, editar y eliminar cada uno junto con su localidad. Posteriormente, permite
                        ingresar animales asociados a cada establecimiento.</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item"><a href="~/Establecimientos/Index">Lista de Establecimientos</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </section>
</body>

</html>