@{
  ViewData["Title"] = "Home Page";
}
<div class="text-center">
  <h1 class="titulo" style="color: #000000">ReproGan</h1>
  <br>
</div>
<br>
<br>
<div class="row justify-content-center">
  <div class="col-md-3 d-flex justify-content-center">
    <div class="card shadow-lg mi-div" style="width: 18rem;">
      <img class="card-img-top" src="img/mini.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Animales</h5>
        <p class="card-text">Permite cargar animales con todos los datos necesarios y verlos en un listado.</p>
        <br> 
        <a href="@Url.Action("Index", "Animales")" class="btn btn-success btn-custom" aria-current="page">
          <i class="fa-solid fa-cow"></i>
          Animales
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center">
    <div class="card shadow-lg mi-div" style="width: 18rem;">
      <img class="card-img-top" src="img/mini2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Eventos</h5>
        <p class="card-text">Permite seleccionar algún animal para realizar un evento reproductivo específico.
        </p>
        <a href="@Url.Action("Index", "Animales")" class="btn btn-success btn-custom" aria-current="page">
          <i class="fa-solid fa-calendar-days"></i>
          Eventos
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center">
    <div class="card shadow-lg mi-div" style="width: 18rem;">
      <img class="card-img-top" src="img/mini3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Registros Medicos</h5>
        <p class="card-text">Permite ingresar, monitorear los registros médicos y el profesional que los realizó.</p>
        <br> 
        <a href="@Url.Action("Index", "Animales")" class="btn btn-success btn-custom" aria-current="page">
          <i class="fa-solid fa-notes-medical"></i>
          Registros 
        </a>
      </div>
    </div>
  </div>
</div>
