@{
  ViewData["Title"] = "Home Page";
}
<br>
<div class="dropdown-container">
    <label for="establecimientos">Establecimientos:</label>
    <select id="establecimientos" name="establecimientos">
        <option value="">Selecciona un establecimiento</option>
        <option value="establecimiento1">Las Marias</option>
        <option value="establecimiento2">Don Juan</option>
        <option value="establecimiento3">Los Primos</option>
        <!-- Agrega más opciones según sea necesario -->
    </select>
</div>
<br>
<div class="row justify-content-center">
  <div class="col-md-3 d-flex justify-content-center">
    <div class="card shadow-lg mi-div" style="width: 18rem;">
      <img class="card-img-top" src="img/mini.jpg" alt="Card image cap">
      <div class="card-body">
        <h5>Animales</h5>
        <p class="textop">Permite cargar animales con todos los datos necesarios y verlos en un listado.</p>
        <a href="@Url.Action("Index", "Animales")" class="btn btn-success btn-custom" aria-current="page">
          <i class="fa-solid fa-cow"></i>
          Animales
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center">
    <div class="card shadow-lg mi-div" style="width: 18rem;">
      <img class="card-img-top" src="img/mini2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5>Eventos</h5>
        <p class="textop">Permite seleccionar un animal para realizar algún evento reproductivo específico.</p>
        <a href="@Url.Action("Index", "Eventos")" class="btn btn-success btn-custom" aria-current="page">
          <i class="fa-solid fa-cow"></i>
          Eventos
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-3 d-flex justify-content-center">
    <div class="card shadow-lg mi-div" style="width: 18rem;">
      <img class="card-img-top" src="img/mini3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5>Registros Medicos</h5>
        <p class="textop">Permite ingresar, monitorear los registros médicos y el profesional que los realizó.</p>
        <a href="@Url.Action("Index", "")" class="btn btn-success btn-custom" aria-current="page">
          <i class="fa-solid fa-cow"></i>
          Registros
        </a>
      </div>
    </div>
  </div>
</div>
