@{
    ViewData["Title"] = "Listado de Vacas";
}

<div class="container-fluid">
    <div class="card" style="font-family: 'Arial', sans-serif; width: 100%; max-width: 100%; margin: 20px auto;">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="display-6" style="color: #555;">Listados de Vacas</h3>
        </div>

        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="secar-tab" data-bs-toggle="tab" href="#secar" role="tab"
                        aria-controls="secar" aria-selected="true">Vacas a Secar</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="parir-tab" href="@Url.Action("InformeParir", "Eventos")" role="tab"
                        aria-controls="parir" aria-selected="false">Vacas a Parir</a>
                </li>
            </ul>

            <div class="tab-content mt-3" id="myTabContent">
                <!-- Contenido Vacas a Secar -->
                <div class="tab-pane fade show active" id="secar" role="tabpanel" aria-labelledby="secar-tab">
                    <div class="table-responsive mt-2">
                        <table id="tabla-imprimir-secar" class="content-table">
                            <thead>
                                <tr>
                                    <th>Caravana</th>
                                    <th>Fecha Aprox. de Secado</th>
                                    <th>Días Restantes</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-vacas-secar">
                                <!-- Datos de Vacas a Secar se insertan aquí -->
                            </tbody>
                        </table>

                        <!-- Sección de alerta para vacas próximas a secar -->
                        <div class="alert alert-warning d-flex align-items-center" role="alert"
                            style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
                            <i class="fa-solid fa-exclamation-triangle me-2"></i>
                            <div id="alerta-proximas-vacas"></div>
                        </div>

                    </div>

                    <!-- Canvas para el gráfico de Vacas a Secar -->
                    <canvas id="grafico-vacas-secar" width="400" height="100"></canvas>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/vacasSecar.js"></script>
}