@{
    ViewData["Title"] = "Localidades";
}

<div class="card" style="font-family: 'Arial', sans-serif;">
    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
        <h3 class="display-6" style="color: #555;">Localidades</h3>
        <button type="button" class="btn btn-secondary" onclick="NuevaLocalidad()" data-bs-toggle="modal"
            data-bs-target="#ModalLocalidad">
            <i class="fa-solid fa-plus"></i> Nueva Localidad
        </button>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Contenedor para contador y paginación -->
            <div class="d-flex align-items-center">
                <!-- Contador de elementos -->
                <div id="table-info" class="me-3">
                    <span id="total-items-localidades">Localidad Cargadas: 0</span>
                </div>

                <!-- Paginación -->
                <nav aria-label="Page navigation example">
                    <ul id="pagination" class="pagination mb-0">
                        <!-- Los enlaces de paginación se generarán aquí -->
                    </ul>
                </nav>
            </div>
        </div>

        <div class="modal fade" data-bs-backdrop="static" id="ModalLocalidad" tabindex="-1"
            aria-labelledby="localidadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalTitulo"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="LimpiarModal()"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" id="LocalidadID" value="0" />
                            <div class="col-md-4 mb-3">
                                <label for="ProvinciaID" class="form-label">Provincia <span
                                        class="required-asterisk">*</span></label>
                                @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="NombreLocalidad" class="form-label">Nombre de la localidad <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control" id="NombreLocalidad"
                                        style="text-transform: uppercase;" placeholder="Nombre Localidad">

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="CodigoPostal" class="form-label">Codigo Postal</label>
                                <input type="text" class="form-control" id="CodigoPostal"
                                    style="text-transform: uppercase;" placeholder="Codigo Postal">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="display: flex; justify-content: flex-start; align-items: center;">
                        <p style="font-weight: bold; text-transform: uppercase; color: rgb(19, 18, 18); margin: 0;">
                            Completa todos los campos requeridos antes de guardar <span
                                class="required-asterisk">*</span>
                        </p>
                        <div style="margin-left: auto;">
                            <button type="button" onclick="LimpiarModal()" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" onclick="GuardarLocalidad()" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Modal -->
<div class="modal fade" id="localidadModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Detalles de la Localidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aquí se mostrará la información de la localidad -->
        <div id="modalContentLocalidad"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <!-- Puedes añadir botones adicionales si es necesario -->
      </div>
    </div>
  </div>
</div>

        <div class="table-responsive mt-2">
            <table id="tabla-imprimir" class="content-table">
                <thead>
                    <tr>
                        <th>Localidad</th>
                        <th class="ocultar-en-768px">Provincia</th>
                        <th class="ocultar-en-768px">CodigoPostal</th>
                        <th style="width: 150px"></th>
                    </tr>
                </thead>
                <tbody id="tbody-localidades">
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/localidades-1.0.0.js"></script>
}