@{
    ViewData["Title"] = "Localidades";
}

<div class="card" style="font-family: 'Arial', sans-serif;">
    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
        <h3 class="display-6" style="color: #555;">Localidades</h3>
        <button type="button" class="btn-agregar" title="Agregar Localidad" onclick="NuevaLocalidad()" data-bs-toggle="modal"
            data-bs-target="#ModalLocalidad">
            <i class="fa-solid fa-plus"></i> <span class="btn-text">Agregar Localidad</span>
        </button>
    </div>
<br>

    
<div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Botón de Imprimir -->
            <button class="btn-download" title="Descargar Datos" onclick="Imprimir()">
                <i class="fa-solid fa-file-pdf"></i>
                <span class="btn-text">Descargar</span>
            </button>
            <!-- Contenedor para contador y paginación -->
            <div class="d-flex align-items-center">
           <!-- Contador de elementos -->
           <div id="table-info" class="me-3 me-3 text-end">
            <span id="total-items-localidades">Localidad Cargadas: 0</span>
        </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                        <label for="BuscarLocalidad" class="form-label">Buscar Localidades</label>
                        <input type="text" id="BuscarLocalidad" onkeyup="ListadoLocalidades()" class="form-control"
                            style="text-transform: uppercase;" placeholder="Buscar" />
                    </div>
                </div>
            </div>
        </div>

       <div class="modal fade" data-bs-backdrop="static" id="ModalLocalidad" tabindex="-1" aria-labelledby="localidadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitulo"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="LimpiarModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="LocalidadID" value="0" />
                    <div class="mb-3">
                        <label for="ProvinciaID" class="form-label">Provincia <span class="required-asterisk">*</span></label>
                        @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "form-select" })
                    </div>
                    <div class="mb-3">
                        <label for="NombreLocalidad" class="form-label">Nombre de la localidad <span class="required-asterisk">*</span></label>
                        <input type="text" class="form-control" id="NombreLocalidad" style="text-transform: uppercase;" placeholder="Nombre Localidad">
                    </div>
                    <div class="mb-3">
                        <label for="CodigoPostal" class="form-label">Código Postal <span class="required-asterisk">*</span></label>
                        <input type="text" class="form-control" id="CodigoPostal" style="text-transform: uppercase;" placeholder="Código Postal">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p class="me-auto fw-bold text-uppercase">Campos Obligatorios <span class="required-asterisk">*</span></p>
                <button type="button" onclick="LimpiarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="GuardarLocalidad()" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>
        <!-- Modal -->
        <div class="modal fade" id="localidadModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Detalles de la Localidad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Aquí se mostrará la información de la localidad -->
                        <div id="modalContentLocalidad"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <!-- Puedes añadir botones adicionales si es necesario -->
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-2">
        <p class="text-primary d-block d-md-none text-center mb-3">
            BOTÓN AZUL PARA VER MÁS DATOS
        </p>
            <table id="tabla-imprimir" class="content-table">
                <thead>
                    <tr>
                        <th>Localidad</th>
                        <th class="ocultar-en-768px">Provincia</th>
                        <th class="ocultar-en-768px">CodigoPostal</th>
                        <th style="width: 150px"></th>
                    </tr>
                </thead>
                <tbody id="tbody-localidades">
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/localidades-1.0.0.js"></script>
}