@{
    ViewData["Title"] = "Animales";
}

<div class="card" style="font-family: 'Arial', sans-serif;">
    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
        <h3 class="display-6" style="color: #555;">Animales</h3>
        <button type="button" title="Agregar Animal" class="btn-agregar" onclick="NuevoAnimal()" data-bs-toggle="modal"
            data-bs-target="#ModalAnimal">
            <i class="fa-solid fa-plus"></i> <span class="btn-text">Agregar Animal</span>
        </button>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Botón de Imprimir -->
            <button class="btn-download" title="Descargar Datos" onclick="Imprimir()">
                <i class="fa-solid fa-file-pdf"></i>
                <span class="btn-text">Descargar</span>
            </button>
            <!-- Contenedor para contador y paginación -->
            <div class="d-flex align-items-center">
                <!-- Contador de elementos -->
                <div class="d-flex align-items-center flex-grow-1 justify-content-end">
                    <span id="total-items">Animales cargados: 0</span>
                </div>
            </div>
        </div>

        <!-- Sección de Filtros -->
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                        <label for="BuscarCaravana" class="form-label">Caravana</label>
                        <input type="text" id="BuscarCaravana" onkeyup="ListadoAnimales()" class="form-control"
                            style="text-transform: uppercase;" placeholder="Buscar por Caravana" />
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                        <label for="BuscarApodo" class="form-label">Apodo</label>
                        <input type="text" id="BuscarApodo" onkeyup="ListadoAnimales()" class="form-control"
                            style="text-transform: uppercase;" placeholder="Buscar por apodo" />
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                        <label for="BuscarTipoAnimalID" class="form-label">Tipo Animal</label>
                        @Html.DropDownList("BuscarTipoAnimalID", null, htmlAttributes: new
                            {
                                @class = "form-control",
                                @onchange = "ListadoAnimales()"
                            })
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                        <label for="BuscarEstablecimientoID" class="form-label">Establecimiento</label>
                        @Html.DropDownList("BuscarEstablecimientoID", null, htmlAttributes: new
                            {
                                @class = "form-control",
                                @onchange = "ListadoAnimales()"
                            })
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Información del Animal -->
        <div class="modal fade" data-bs-backdrop="static" id="ModalAnimal" tabindex="-1"
            aria-labelledby="animalModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalTitulo">Información del Animal</h5>
                        <button type="button" class="btn-cancelar btn-close" data-bs-dismiss="modal"
                            onclick="LimpiarModal()" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" id="AnimalID" value="0" />
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="caravana" class="form-label">Caravana <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control" id="Caravana"
                                        style="text-transform: uppercase;" placeholder="Número de caravana"
                                        maxlength="15" oninput="this.value = this.value.replace(/[^a-zA-Z0-9\s]/g, '')">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="apodo" class="form-label">Apodo <span
                                            class="required-asterisk"></span></label>
                                    <input type="text" class="form-control" id="Apodo"
                                        style="text-transform: uppercase;" placeholder="Apodo" maxlength="15"
                                        oninput="this.value = this.value.replace(/[^a-zA-Z0-9\s]/g, '')">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="TipoAnimalID" class="form-label">Tipo de Animal <span
                                            class="required-asterisk">*</span></label>
                                    @Html.DropDownList("TipoAnimalID", (SelectList)ViewBag.TipoAnimalID, htmlAttributes:
                                             new
                                             {
                                                 @class = "form-control",
                                                 id = "TipoAnimalID"
                                             })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="nombrePadre" class="form-label">Datos del Padre</label>
                                    <input type="text" class="form-control" id="NombrePadre"
                                        style="text-transform: uppercase;" placeholder="Datos del padre" maxlength="15"
                                        oninput="this.value = this.value.replace(/[^a-zA-Z0-9\s]/g, '')">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="nombreMadre" class="form-label">Datos de la Madre</label>
                                    <input type="text" class="form-control" id="NombreMadre"
                                        style="text-transform: uppercase;" placeholder="Datos de la madre"
                                        maxlength="15" oninput="this.value = this.value.replace(/[^a-zA-Z0-9\s]/g, '')">
                                </div>
                            </div>
                            <div class="row">
                               <div class="col-md-4 mb-3">
                                    <label for="EstablecimientoID" class="form-label">Establecimiento <span
                                            class="required-asterisk">*</span></label>
                                    @Html.DropDownList("EstablecimientoID", (SelectList)ViewBag.EstablecimientoID, htmlAttributes:
                                             new
                                             {
                                                 @class = "form-control",
                                                 id = "EstablecimientoID"
                                             })
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="fechaNacimiento" class="form-label">Fecha de nacimiento <span
                                            class="required-asterisk">*</span></label>
                                    <input type="date" class="form-control" id="FechaNacimiento">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="display: flex; justify-content: flex-start; align-items: center;">
                        <p style="font-weight: bold; text-transform: uppercase; color: rgb(19, 18, 18); margin: 0;">
                            Completar los campos requeridos antes de guardar<span class="required-asterisk">*</span>
                        </p>
                        <div style="margin-left: auto;">
                            <button type="button" onclick="LimpiarModal()" class="btn-cancelar btn btn-secondary"
                                data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" onclick="GuardarAnimal()"
                                class="btn-cancelar btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="animalModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Detalles del Animal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Aquí se mostrará la información del animal -->
                        <div id="modalContent"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <!-- Puedes añadir botones adicionales si es necesario -->
                    </div>
                </div>
            </div>
        </div>


        <!-- Tabla de Animales -->
        <div class="table-responsive mt-2">
    <p class="text-primary d-block d-md-none text-center mb-3">
        BOTÓN AZUL PARA VER MÁS DATOS
    </p>
    <table id="tabla-imprimir" class="content-table">
        <thead>
            <tr>
                <th>Caravana</th>
                <th>Tipo de Animal</th>
                <th class="ocultar-en-768px">Apodo</th>
                <th class="ocultar-en-768px">Padre</th>
                <th class="ocultar-en-768px">Madre</th>
                <th class="ocultar-en-768px">Establecimiento</th>
                <th class="ocultar-en-768px">Fecha de nacimiento</th>
                <th style="width: 150px"></th>
            </tr>
        </thead>
        <tbody id="tbody-animales">
        </tbody>
    </table>
    <div id="pagination" class="pagination-container"></div>
</div>

<!-- Nueva tabla duplicada -->
<div class="table-responsive mt-2">
    <p class="text-primary d-block d-md-none text-center mb-3">
        BOTÓN AZUL PARA VER MÁS DATOS
    </p>
    <table id="tabla-imprimir-duplicada" class="content-table" style="display: none;">
        <thead>
            <tr>
                <th>Caravana</th>
                <th>Tipo de Animal</th>
                <th>Apodo</th>
                <th>Padre</th>
                <th>Madre</th>
                <th>Establecimiento</th>
                <th>Fecha de nacimiento</th>
                <th style="width: 150px"></th>
            </tr>
        </thead>
        <tbody id="tbody-animales-duplicada">
        </tbody>
    </table>
</div>

    </div>
</div>

@section Scripts {
    <script src="~/js/animales-1.0.0.js"></script>

    <script>
        function Imprimir() {
            var doc = new jsPDF();

            var totalPagesExp = "{total_pages_count_string}";
            var pageContent = function (data) {
                var pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
                var pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();

                // FOOTER
                var str = "Pagina " + data.pageCount;
                if (typeof doc.putTotalPages == 'function') {
                    str = str + " de " + totalPagesExp;
                }

                doc.setLineWidth(8);
                doc.setDrawColor(238, 238, 238);
                doc.line(14, pageHeight - 11, 196, pageHeight - 11);

                doc.setFontSize(10);
                doc.setFontStyle('bold');
                doc.text(str, 17, pageHeight - 10);
            };

            // Add title and date to the first page
            doc.setFontSize(18);
            doc.setFontStyle('bold');
            doc.text('Listado de animales', 14, 22);

            // Add current date
            var today = new Date();
            var dateString = today.toLocaleDateString(); // Format date as needed
            doc.setFontSize(12);
            doc.setFontStyle('normal');
            doc.text('Fecha: ' + dateString, 14, 32);

            var elem = document.getElementById("tabla-imprimir-duplicada");
            var res = doc.autoTableHtmlToJson(elem);

            // Remove last two columns
            res.columns = res.columns.slice(0, -2);
            res.data = res.data.map(row => row.slice(0, -2));

            doc.autoTable(res.columns, res.data, {
                addPageContent: pageContent,
                theme: 'grid',
                styles: { fillColor: [70, 130, 180], halign: "center" },
                columnStyles: {
                    0: { halign: 'center', fontSize: 7, fillColor: [255, 255, 255] },
                    1: { halign: 'center', fontSize: 7, fillColor: [255, 255, 255] },
                    2: { halign: 'center', fontSize: 7, fillColor: [255, 255, 255] },
                    3: { halign: 'center', fontSize: 7, fillColor: [255, 255, 255] },
                    4: { halign: 'center', fontSize: 7, fillColor: [255, 255, 255] },
                    5: { halign: 'center', fontSize: 7, fillColor: [255, 255, 255] },
                    6: { halign: 'center', fontSize: 7, fillColor: [255, 255, 255] },
                    7: { halign: 'center', fontSize: 7, fillColor: [255, 255, 255] }
                },
                margin: { top: 40 } // Adjust top margin for title
            });

            if (typeof doc.putTotalPages === 'function') {
                doc.putTotalPages(totalPagesExp);
            }

            var string = doc.output('datauristring');
            var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>"

            var x = window.open();
            x.document.open();
            x.document.write(iframe);
            x.document.close();
        }
    </script>



}
