@{
  ViewData["Title"] = "Informe Animales";
}
<div class="card" style="font-family: 'Arial', sans-serif;">
    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
        <h3 class="display-6" style="color: #555;">Informe de Actividades</h3>
    </div>
    <div class="card-body">
        @* <!-- Filtros -->
         <div class="row mb-3">
            <div class="col-md-3">
                <label for="BuscarActividadInicio" class="form-label">Inicio de la actividad</label>
                <input type="datetime-local" id="BuscarActividadInicio" onchange="ListadoInformeEjercicios()"
                    class="form-control" />
            </div>
            <div class="col-md-3">
                <label for="BuscarActividadFin" class="form-label">Fin de la actividad</label>
                <input type="datetime-local" id="BuscarActividadFin" onchange="ListadoInformeEjercicios()"
                    class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
            </div>
            <div class="mb-3 col-2">
                <label for="TipoEjerciciosBuscarID" class="form-label">Buscar Tipo Ejercicio</label>
                @Html.DropDownList("TipoEjerciciosBuscarID", null, htmlAttributes: new { @class = "form-control", onchange="ListadoInformeEjercicios()" })
            </div>
        </div>  *@

    
        <div class="table-responsive mt-2">
            <table id="tabla-imprimir" class="content-table">
            <thead>
                <tr>
                    <th>Tipo Animal</th>
                    <th>Caravana</th>
                    <th>Estado</th>
                    <th>Apodo</th>
                    <th>Establecimiento</th>
                    <th>Fecha Nacimiento</th>
                    <th>Nombre Padre</th>
                    <th>Nombre Madre</th>
                </tr>
            </thead>
            <tbody id="tbody-informeAnimales">
                <!-- Los datos se llenarán dinámicamente aquí -->
            </tbody>
        </table>
        </div>
    </div>
</div>


@section Scripts {
  <script src="~/js/informeAnimales-1.0.0.js"></script>
}